.cardWrapper{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: min-content
}

.imageContainer{
    width: 12rem;
    height: 21rem;
    position: relative;
}

.imageContainer:hover {
    transform: scale(1.05);
  }
  

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.infoContainer:hover{
    cursor: pointer;
}

.characterName{
    font-weight: 600;
    font-size: 1.5rem;
    width: 70%;
}

@media (min-width: 1440px){
    .imageContainer{
        width: 16rem;
        height: 28rem;
    }
}

@media (max-width: 640px){
    .imageContainer{
        width: 16rem;
        height: 24rem;
    }
}