.cardWrapper{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: min-content
}

.imageContainer{
    width: 12rem;
    height: 15rem;
    position: relative;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}


.characterName{
    font-weight: 600;
    font-size: 1rem;
}

.bookmarkIcon{
}