.characterContainer{
    display: grid;
    justify-items: center;
    width: 75%;
    margin: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
    .characterContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .characterContainer {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

