.footerContainer{
    width: 100%;
    height: 10rem;
    background-color: #1E1E2F;
    margin-top:auto; 
    padding: 5rem;
}

.footerText{
    width: 50%;
    color: #7E6986;
    text-align: center;
    margin:auto;
    font-size: 1.2rem;
}

@media (max-width: 640px){
    .footerText{
        width: 75%;
        font-size: 1rem;
    }

    .footerContainer{
        padding: 2rem;
    }
}